@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  @apply py-24 md:py-32 lg:py-40;
}

/* styles/globals.css */
:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #1a1a1a;
  --text-color-dark: #ffffff;
  --bg-color-emerald: #50c878;
  --text-color-emerald: #004d00;
  --bg-color-pink: #ff69b4;
  --text-color-pink: #ff1493;
}

[data-theme="light"] {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
}

[data-theme="dark"] {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
